# Google Drive links from Assignment.pdf (Materials Provided)
GDRIVE_WEIGHTS_URL=https://drive.google.com/file/d/YOUR_WEIGHTS_FILE_ID/view
GDRIVE_DATA_URL=https://drive.google.com/file/d/YOUR_DATA_FILE_ID/view

# AWS credentials (for uploading forecast outputs to your S3 bucket)
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=us-east-1
